*{
  padding: 0;
  margin-left: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/sfondo.png");
  font-family: 'Roboto', sans-serif;
  }

.container{
  width: 60%;
  margin: auto;
  text-align: center;
  }

.header{
  height: 400px;
  border: 1px solid red;
  position: relative;
  background-image: url("../img/header_bg.jpg");
  border: 10px solid white;
  background-size: cover;
  }

.logo{
  width: 50%;
  margin-top: 55px;
}

.title_header{
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bolder;

}

.nav{
  height: 40px;
  width: 100%;
  background: grey;
  margin-bottom: 15px;
}

.sidebar_left{
  height: 450px;
  width: 20%;
}

.sidebar_main{
  height: 400px;
  width: 60%;
  padding: 0 60px;
}

.sidebar_right{
  width: 425px;
  width: 20%;
}

.box_sx{
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
}

.box_main{
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
}

.box_dx{
  height: 425px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 50px;
}

main::after{
  content: "";
  display: table;
  clear: both;
}

.float_left{
  float: left;
}

.footer{
  height: 150px;
  width: auto;
  background-color: white;
  border-radius: 10px;
}
